*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#111827;
    position:sticky;
    top:0;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.home{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.home h1{
    font-size:60px;
    margin:10px 0;
}

.home h3{
    color:cyan;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    background:cyan;
    color:black;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
}

section{
    padding:80px 50px;
}

h2{
    margin-bottom:30px;
    font-size:40px;
    text-align:center;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:30px;
    text-align:center;
    border-radius:10px;
}

.project-card{
    background:#1e293b;
    padding:25px;
    margin-top:20px;
    border-radius:10px;
}